<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Room No.</th>
      <th scope="col">Require Cleaning</th>
      <th scope="col">Remarks</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms">
      <td>{{room.no}}</td>
      <td>{{room.needCleaning}} <br><br><button type="button" class="btn btn-primary" (click)="toggleRoom(room.no, room.needCleaning)">Toggle</button></td>
      <td>{{room.remarks}}<br><br><button type="button" class="btn btn-primary" (click)="openRemark(room.no)">Add Remark</button>
    </tr>
  </tbody>
</table>