<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Staff ID</th>
      <th scope="col">Password</th>
      <th scope="col">Access Level</th>
      <th scope="col">Job Position</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let staff of staffs">
      <td>{{staff.name}}</td>
      <td>{{staff.staffid}}</td>
      <td>{{staff.password}}</td>
      <td>{{staff.accessLevel}}</td>
      <td>{{staff.jobPosition}}</td>
      <td>{{staff.salary}}</td>
      <button type="button" class="btn btn-primary" id="editButton" (click)="editStaff(staff.staffid)">Edit</button>
      <button type="button" class="btn btn-danger" (click)="deleteStaff(staff.staffid)">Delete</button>
    </tr>
  </tbody>
</table>

<div class="jumbotron" id="infoBox">
  <div class="col-sm-8 mx-auto">
    <h3 id="editorTitle">Add New Staff To Database</h3>
    <br>

    <form>
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="name" class="form-control" id="inputName" placeholder="Name" required="" [(ngModel)]="inputName"
          name="inputName">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputID" class="col-sm-2 col-form-label">Staff ID</label>
        <div class="col-sm-10">
          <input type="id" class="form-control" id="inputID" placeholder="Staff ID" required="" [(ngModel)]="inputID"
          name="inputID">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="inputPassword" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="inputPassword"
          name="inputPassword">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAccess" class="col-sm-2 col-form-label">Access Level</label>
        <div class="col-sm-10">
          <input type="access" class="form-control" id="inputAccess" placeholder="Access Level" required="" [(ngModel)]="inputAccess"
          name="inputAccess">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPos" class="col-sm-2 col-form-label">Job Position</label>
        <div class="col-sm-10">
          <input type="class" class="form-control" id="inputPos" placeholder="Job Position" required="" [(ngModel)]="inputPos"
          name="inputPos">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputSalary" class="col-sm-2 col-form-label">Salary</label>
        <div class="col-sm-10">
          <input type="class" class="form-control" id="inputSalary" placeholder="Salary" required="" [(ngModel)]="inputSalary"
          name="inputSalary">
        </div>
      </div>
      <div *ngIf="!editing" class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" (click)="addStaff()">Add</button>
        </div>
      </div>
      <div *ngIf="editing" class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" (click)="updateStaff()">Update</button>
          <button type="submit" class="btn btn-basic" (click)="cancelEditing()">Cancel</button>
        </div>
      </div>
    </form>
    
  </div>
</div>