<h1 style="text-align:center; color:blue;"><strong>Guest Form</strong></h1>
<form action="/action_page.php" [formGroup]="guestFrm" *ngIf="guestFrm">
  <div class="form-group">
    <label for="guestname">Guest Name:</label>
    <input type="text" class="form-control" placeholder="Enter guestname" [formControl]="guestFrm.controls['name']" 
    formControlName="name" required>
  </div>
  <div class="form-group">
    <label for="noofpeople">No of people:</label>
    <input type="text" class="form-control" placeholder="Enter a number" [formControl]="guestFrm.controls['noofpeople']" 
    formControlName="noofpeople" required>
  </div>
  <div class="form-group">
    <label for="phoneno">Phone no:</label>
    <input type="text" class="form-control" placeholder="Enter a phone no" [formControl]="guestFrm.controls['phoneno']" 
    formControlName="phoneno" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" placeholder="Enter a email" [formControl]="guestFrm.controls['email']" 
    formControlName="email" required>
  </div>
  <div class="form-group">
    <label for="address">Address:</label>
    <input type="text" class="form-control" placeholder="Enter a address" [formControl]="guestFrm.controls['address']" 
    formControlName="address" style="height:100px" required>
  </div>
  <div class="form-group">
    <label for="cid">Check in Date:</label>
    <input type="text" class="form-control" placeholder="Enter a date" [formControl]="guestFrm.controls['cid']" 
    formControlName="cid" required>
  </div>
  <div class="form-group">
    <label for="cod">Check out Date:</label>
    <input type="text" class="form-control" placeholder="Enter a date" [formControl]="guestFrm.controls['cod']" 
    formControlName="cod" required>
  </div>
  <div class="form-group">
    <label for="addrem">Additional Remarks:</label>
    <input type="text" class="form-control" placeholder="Any Additional Remarks" [formControl]="guestFrm.controls['addrem']" 
    formControlName="addrem" style="height:100px" required>
  </div>
  <div class="form-group">
    <label for="lco">Late check out:</label>
    <input type="text" class="form-control" [formControl]="guestFrm.controls['lco']" formControlName="lco" placeholder="Late check out?"> 
  </div>
  <button type="submit" class="btn btn-default" (click)="addGuest(guestFrm.value)">Submit</button>
  <button type="reset" class="btn btn-default">Reset</button>
  <button type="button" class="btn btn-default" (click)="deleteRecord()">Delete guest record</button>
</form>
