<h1 style="text-align: center; color: blue"><strong>Room booking and Availability</strong></h1> 
<br><br><br>
<form action="/action_page.php">
  <div class="container">
    <label><b>Username</b></label>
    <input #uname type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input #psw type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="button" (click)="checkVal(uname.value,psw.value)">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="reset" class="cancelbtn">Cancel</button>
  </div>
</form>

