<div class="container">
  <h1 style="text-align:center; color:blue"><strong>Rooms form</strong></h1>
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="amount">Budget amount:</label>
      <div class="col-sm-10">
        <input #amn type="text" class="form-control" id="amount" placeholder="Enter amount in SGD" name="amount">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="noofbeds">No of beds:</label>
      <div class="col-sm-10">          
        <input #bed type="text" class="form-control" id="noofbeds" placeholder="Enter no of beds" name="noofbeds">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" (click)="findRooms(amn.value,bed.value)">Submit</button>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="reset" class="btn btn-default">reset</button>
      </div>
    </div>
  </form>
</div>
<br><br>
<h2>List of rooms:</h2>
{{roomno.toString()}}
